.app {
  > header {
    background: var(--gray-700);
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 3rem;
    padding: 4.5rem 0 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

    > img {
      height: 2.25rem;
    }

    span:nth-child(1) {
      color: var(--blue);
    }

    span:nth-child(2) {
      color: var(--purple-dark);
    }
  }
}
